<p-panel header="Pipes Numéricos" class="p-1">
  <p>
    Pipes incluidos en Angular - Usualmente en el Common Module
  </p>
</p-panel>

<div class="grid">

  <div class="col-12 md:col-4">
    <p-card header="Ventas netas" subheader="del año actual">
      {{totalSells + 1800 | number:'1.2-2' }}
    </p-card>
  </div>

  <div class="col-12 md:col-4">
    <p-card header="Ventas brutas" subheader="del año actual">
      {{totalSells | currency:'EUR' }}
    </p-card>
  </div>

  <div class="col-12 md:col-4">
    <p-card header="Ganancia porcentual" subheader="del año actual">
      {{percent | percent:'1.2-2' }}
    </p-card>
  </div>
